/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GENERAL */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;
}

:root {
    --header-width: 15rem;
    --footer-height: 5rem;
    --upgrade-height: 5rem;
    --header-width-mobile: 3.5rem;
}

.body-container {
    background-color: #141922;
    max-width: 1600px;
    min-width: 480px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HEADER */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

header {
    width: var(--header-width);
    height: calc(100vh - var(--footer-height));
    background-color: black;
    position: relative;
}


/* 
header-dekstop
 */
.logo-dekstop {
    padding: 0 1rem;
}

.logo-dekstop img {
    height: var(--upgrade-height);
    width: 80%;
    display: block;
}

.header-dekstop li {
    font-size: 0.8rem;
    color: #B2B2B2;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
}

.header-dekstop li img {
    height: 1.5rem;
    margin-right: 0.5rem;
    filter: invert(30%);
}

.header-dekstop h4 {
    padding: 0 1rem;
    margin: 0.5rem 0;
    color: white;
}

.header-dekstop i {
    font-size: 2.2rem;
    margin-right: 0.5rem;
}

.download-inner-header {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.download-inner-header hr {
    border-color: #B2B2B2;
    margin: 0.2rem 1rem;
}

#profile-img {
    background-color: grey;
    border-radius: 50%;
}

/* 
header-dekstop-hover
 */
.header-dekstop li:hover {
    color: white;
    cursor: pointer;
}

.header-dekstop li:hover img {
    filter: invert(0);
}

.selected:hover {
    border-left: 5px solid #ACFE2E;
}




/* 
header-mobile
 */
.header-mobile {
    display: none;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.logo-menu-mobile>img {
    width: 80%;
    display: block;
    margin: auto;
}

.header-mobile li img {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    filter: invert(30%);
}

.logo-menu-mobile,
.download-header-mobile {
    margin: 0.4rem 0;
}

#small-download {
    transform: scale(0.7);
    margin-left: 0.6rem;
}

/* 
header-mobile-hover
 */
.header-mobile li img:hover {
    filter: invert(0);
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAIN SECTION */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

main {
    height: calc(100vh - var(--footer-height));
    width: calc(100% - var(--header-width));
    overflow: auto;
    position: absolute;
    left: var(--header-width);
    top: 0;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAIN UPGRADE SECTION */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.upgrade {
    height: var(--upgrade-height);
    background-color: #080B12;
    display: flex;
    flex-direction: row-reverse;
}

.upgrade button {
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    margin: 1.5rem 0.7rem;
    padding: 0 1.5rem;
    border-radius: 5rem;
}

/* 
upgrade-button-hover
 */
.upgrade button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAIN NAV SECTION */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav {
    background-color: #141922;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a {
    color: #B2B2B2;
    text-decoration: none;
    padding: 0.5rem 0.5rem 0.2rem;
    position: relative;
}

.nav a .green-line {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 0.2rem solid #ACFE2E;
    width: 30%;
    display: none;
}

/* 
.nav-hover
 */
.nav a:hover .green-line {
    display: block;
}

.nav a:hover {
    color: white;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAIN-CONTENT */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.main-content {
    padding: 1rem 1rem 0 1rem;
}

.main-content h3 {
    color: white;
}

.main-inner-container {
    margin: 1rem 0 2rem;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1rem;
}

.main-card {
    width: calc((100% - 5rem) / 6);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.main-card img {
    width: 100%;
    display: block;
}

.main-card h5 {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.main-content span {
    font-size: 0.7rem;
    color: white;
    text-align: center;
    color: #B2B2B2;
}

.radius-card img {
    border-radius: 50%;
}

.img-card {
    position: relative;
}

.hidden-card {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.hidden-card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

/* 
main-card-hover
 */

.img-card:hover .hidden-card {
    display: block;
    cursor: pointer;
}

.main-card img:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FOOTER */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: #282828;
    position: absolute;
    bottom: 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}


/* 
left-footer
 */
.left-footer {
    width: 30%;
    /* display: flex; */
    align-items: center;
}

.left-footer img {
    height: calc(var(--footer-height) - 2rem);
    margin-right: 0.5rem;
}

.song-name h5 {
    color: white;
}

.song-name span {
    color: #B2B2B2;
    font-size: 0.7rem;
}

.song-add-to {
    margin-left: 1rem;
}

.song-add-to i {
    color: #B2B2B2;
    margin: 0 0.5rem;
}

/* 
left-footer-hover
 */
.song-add-to i:hover {
    color: white;
    cursor: pointer;
}



/* 
center-footer
 */
.center-footer {
    width: 40%;
    /* display: flex; */
    flex-direction: column;
    padding: 0 1rem;
}

.player-button {
    /* display:flex ; */
    align-items: center;
    align-self: center;
}

.player-button i {
    color: white;
    margin: 0 1rem;
}

.player-button .fa-circle-play {
    font-size: 1.8rem;
}

.timer-song {
    /* display: flex; */
    align-items: center;
    margin-top: 0.3rem
}

.timer-song span {
    color: white;
    font-size: 0.7rem;
}

.time-line {
    width: 100%;
    height: 0.2rem;
    margin: 0 1rem;
    background-color: #B2B2B2;
    position: relative;
}

.mini-time-line-visible {
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-color: white;
}

.mini-time-line {
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-color: #ACFE2E;
    opacity: 0;
}

.mini-time-line::after {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -0.3rem;
}

/* 
center-footer-hover
 */
.player-button i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.time-line:hover .mini-time-line {
    opacity: 1;
    cursor: pointer;
}


/* 
right-footer
 */
.right-footer {
    width: 30%;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
}

.right-footer a {
    color: white;
    margin: 0 0.5rem;
}

.volume-line {
    width: 6rem;
    height: 0.2rem;
    background-color: #B2B2B2;
    position: relative;
}

.mini-volume-line-visible {
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-color: white;
}

.mini-volume-line {
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-color: #ACFE2E;
    opacity: 0;
}

.mini-volume-line::after {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -0.3rem;
}

.right-footer i {
    color: #B2B2B2;
}

/* 
right-footer-hover
 */
.right-footer i:hover {
    cursor: pointer;
    color: white;
}

.volume-line:hover .mini-volume-line {
    opacity: 1;
    cursor: pointer;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* RESPONSIVE */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (max-width: 990px) {

    .upgrade {
        background-color: red;
    }

    /* main card */
    .main-card {
        width: calc((100% - 3rem) / 4);
    }
}


@media screen and (max-width: 768px) {

    .upgrade {
        background-color: orange;
    }

    /* main card */
    .main-card {
        width: calc((100% - 1rem) / 2);
    }

    /* left footer */
    .song-add-to {
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;

    }

    .song-add-to i {
        margin: 0.2rem 0;
    }

    .left-footer h5 {
        font-size: 0.7rem;
    }

    .left-footer span {
        font-size: 0.55rem;
    }

    /* center footer */
    .player-button i {
        margin: 0 0.5rem;
    }

    /* right footer */
    .right-footer a {
        margin: 0 0.2rem;
    }
}


@media screen and (max-width: 500px) {
    .upgrade {
        background-color: yellow;
    }

    header {
        width: var(--header-width-mobile);
    }

    .header-dekstop {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

    main {
        width: calc(100% - var(--header-width-mobile));
        left: var(--header-width-mobile);
    }
}